selenium==4.22.0 # Versión compatible con el Chromedriver que tengas en tu capa
boto3==1.34.120 # O la versión que prefieras
beautifulsoup4==4.12.3 # Si aún quieres usar BeautifulSoup para el parsing del HTML de Selenium